<template>
    <div class="country">
        <img :src="country.flag" :alt="country.name" class="country-img" />
        <div>
            <div class="country-name">
                <h3>{{ country.name }}</h3> ({{ country.capital }})
            </div>
            <span class="country-overview">{{ country.subregion }}</span>
            <div class="country-buttons">
                <button v-if="isSearch" class="btn movie-buttons-delete"
                    @click="this.$emit('addFavorite', country.alpha3Code)">Add to favorite</button>
                <template v-else>
                    <button class="btn movie-buttons-watched" @click="this.$emit('toggleVisited', country.alpha3Code)">
                        {{ country.isVisited ? 'Unvisited' : 'Visited' }}
                    </button>
                    <button class="btn movie-buttons-delete"
                        @click="this.$emit('deleteCountry', country.alpha3Code)">Delete</button>
                </template>

            </div>
        </div>
    </div>
</template>

<script setup>
const props = defineProps({
    country: {
        type: Object,
        required: true,
        default: () => { }
    },
    isSearch: {
        type: Array,
        default: false
    }
})
</script>

<style scoped>
.country {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 30px;
    margin-bottom: 20px;
    border: 2px solid #efefef;
    padding: 10px;
    border-radius: 10px;
}

.country-accept {
    margin-right: 10px;
}

.country-img {
    width: 200px;
    height: 140px;
    object-fit: cover;
}

.country-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.country-overview {
    display: block;
    margin-bottom: 20px;
}

.country-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.country-buttons-watched {
    color: #fff;
    background: #1eb4c3;
}

.country-buttons-watched__icon {
    width: 15px;
    margin-left: 10px;
}

.country-buttons-delete {
    color: #fff;
    background: #ff2a2a;
}
</style>