<template>

    <form @submit.prevent="searchStore.getCountries(country)">
        <input class="search-input" type="text" v-model="country" placeholder="movie name">
        <button class="btn">find</button>
    </form>
    <div>
        <Movie v-for="country in searchStore.countries" :key="country.id" 
            :country="country" 
            @toggleWatch="toggleWatch"
            @deleteMovie="deleteMovie" 
        />
    </div>
</template>

<script setup>
import { ref } from 'vue';
import { useSearchStore } from '../stores/SearchStore'
import Movie from './Country.vue';
const searchStore = useSearchStore();
const country = ref("");
</script>

<style scoped>
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 18px;
}

button {
    width: 100%;
    height: 40px;
}
</style>