*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}

main{
    max-width: 600px;
    margin: auto;
}
.btn {
    border: none;
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    background: #8b8b8b;
    color: white;
}
@font-face {
    font-family: Jost;
    src: url(/fonts/Jost.ttf);
}