<template>
    <main>
        <header class="header">
            <img src="/logo/logo.svg" alt="logo" class="header-logo">
            <h1>My countries</h1>
        </header>
        <div class="tabs">
            <button @click="setTab(false)" :class="['btn', {btn_green: countryStore.isSearch}]">Favorite</button>
            <button @click="setTab(true)" :class="['btn', {btn_green: !countryStore.isSearch}]">Search</button>
        </div>
        <div class="movies" v-if="!countryStore.isSearch">
            <div>
                <h2>All country</h2>
                <Movie v-for="country in countryStore.countries" :key="country.id"
                    :country="country"
                    @toggleVisited="toggleVisited"
                    @deleteCountry="deleteCountry"
                />
            </div>
            <div>
                <h2>Visited country</h2>
                <Movie v-for="country in countryStore.visitedCountries" :key="country.id" 
                    :country="country" 
                    @toggleVisited="toggleVisited"
                    @deleteCountry="deleteCountry"
                />
            </div>
        </div>
        <div class="search" v-else>
            <h2>Search</h2>
            <Search />
        </div>
    </main>
</template>

<script setup>
import { useCountryStore } from './stores/CountryStore'
import Movie from './components/Country.vue';
import Search from './components/Search.vue';
const countryStore = useCountryStore();
const setTab = (bool) => {
    countryStore.changeIsSearch(bool)
}
const toggleVisited = (id) => {
    countryStore.toggleVisited(id)
}
const deleteCountry = (id) => {
    countryStore.deleteCountry(id)
}
</script>

<style scoped>
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-logo {
    max-width: 50px;
    margin-right: 10px;
}

.btn_green {
    background: #37df5c;
}

.btn_green:hover {
    opacity: 0.7;
}
.tabs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}
</style>
